<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="User" type="nstarlike.jcw.model.User" />
		<typeAlias alias="Post" type="nstarlike.jcw.model.Post" />
		<typeAlias alias="PostMap" type="nstarlike.jcw.model.PostMap" />
		<typeAlias alias="Comment" type="nstarlike.jcw.model.Comment" />
		<typeAlias alias="CommentMap" type="nstarlike.jcw.model.CommentMap" />
		<typeAlias alias="Attachment" type="nstarlike.jcw.model.Attachment" />
	</typeAliases>
</configuration>