<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nstarlike.jcw.mapper.CommentMapper">
	<resultMap id="commentResultMap" type="Comment">
		<id property="id" column="comment_id" />
		<result property="postId" column="post_id" />
		<result property="writerId" column="writer_id" />
		<result property="content" column="content" />
		<result property="written" column="written" />
	</resultMap>
	
	<insert id="create" parameterType="Comment">
	INSERT INTO "comment"(COMMENT_ID, POST_ID, WRITER_ID, CONTENT, WRITTEN) 
	VALUES(COMMENT_SEQ.NEXTVAL, #{postId}, #{writerId}, #{content}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'))
	</insert>
	
	<select id="readAll" parameterType="map" resultMap="commentResultMap">
	SELECT * FROM (
		SELECT /*INDEX_DESC(A COMMENT_PK)*/ ROWNUM AS NO, A.* 
		FROM (
			SELECT COUNT(*) OVER() AS TOTAL, "comment".* 
			FROM "comment" 
			<where>
				POST_ID = #{postId}
				<if test="content != null">AND CONTENT LIKE '%' || #{content} || '%'</if>
			</where>
		) A 
		WHERE ROWNUM <![CDATA[ <= ]]> #{endNo}
	)
	WHERE NO <![CDATA[ >= ]]> #{startNo}
	</select>
	
	<select id="readById" resultMap="commentResultMap">
	SELECT * FROM "comment" WHERE COMMENT_ID = #{id}
	</select>
	
	<delete id="delete">
	DELETE FROM "comment" WHERE COMMENT_ID = #{id}
	</delete>
</mapper>