<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nstarlike.jcw.mapper.PostMapper">
	<resultMap id="postResultMap" type="Post">
		<id property="id" column="post_id" />
		<result property="writerId" column="writer_id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="hits" column="hits" />
		<result property="written" column="written" />
		<result property="updated" column="updated" />
	</resultMap>
	
	<select id="readAll" parameterType="map" resultMap="postResultMap">
	SELECT * 
	FROM (
		SELECT /*INDEX_DESC(A POST_PK)*/ ROWNUM AS no, A.* 
		FROM (
			SELECT COUNT(*) OVER () AS total, post.* 
			FROM post 
			<where>
				<if test="writerId != null">AND writer_id = #{writerId}</if>
				<if test="title != null">AND title like '%' || #{title} || '%'</if>
				<if test="content != null">AND content like '%' || #{content} || '%'</if>
			</where>
		) A
		WHERE ROWNUM <![CDATA[ <= ]]> #{endNo}
	)
	WHERE no <![CDATA[ >= ]]> #{startNo}
	</select>
	
	<select id="readById" resultMap="postResultMap">
	SELECT * FROM post 
	WHERE post_id = #{id}
	</select>
	
	<insert id="create" parameterType="Post">
	INSERT INTO post(post_id, writer_id, title, content, written)
	VALUES(POST_SEQ.NEXTVAL, #{writerId}, #{title}, #{content}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'))
	</insert>
	
	<update id="update" parameterType="Post">
	UPDATE post 
	<set>
		<if test="title != null">title = #{title}, </if>
		<if test="content != null">content = #{content}, </if>
		<if test="title != null or content != null">updated = TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')</if>
	</set>
	WHERE post_id = #{id}
	</update>
	
	<update id="hit">
	UPDATE post SET hits = hits + 1 WHERE post_id = #{id}
	</update>
	
	<delete id="delete">
	DELETE FROM post WHERE post_id = #{id}
	</delete>
</mapper>