<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nstarlike.jcw.mapper.PostMapper">
	<resultMap id="postResultMap" type="PostMap">
		<id property="id" column="post_id" />
		<result property="writerId" column="WRITER_ID" />
		<result property="writerName" column="WRITER_NAME" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="hits" column="HITS" />
		<result property="written" column="WRITTEN" />
		<result property="updated" column="UPDATED" />
		<result property="total" column="TOTAL" />
	</resultMap>
	
	<select id="readAll" parameterType="map" resultMap="postResultMap">
	SELECT * 
	FROM (
		SELECT /*INDEX_DESC(A POST_PK)*/ ROWNUM AS NO, A.* 
		FROM (
			SELECT COUNT(*) OVER () AS TOTAL, POST.* 
			FROM POST 
			<where>
				<if test="writerId != null">AND WRITER_ID = #{writerId}</if>
				<if test="title != null">AND TITLE like '%' || #{title} || '%'</if>
				<if test="content != null">AND CONTENT like '%' || #{content} || '%'</if>
			</where>
			ORDER BY POST_ID DESC
		) A
		WHERE ROWNUM <![CDATA[ <= ]]> #{endNo}
	)
	WHERE NO <![CDATA[ >= ]]> #{startNo}
	</select>
	
	<select id="readById" resultMap="postResultMap">
	SELECT * FROM POST 
	WHERE POST_ID = #{id}
	</select>
	
	<select id="readEntire" parameterType="map" resultMap="postResultMap">
	SELECT POST_ID, NAME AS WRITER_NAME, TITLE, CONTENT, WRITTEN
	FROM POST, USERS 
	<where>
		WRITER_ID = USER_ID
		<if test="writerId != null">AND WRITER_ID = #{writerId}</if>
		<if test="title != null">AND TITLE like '%' || #{title} || '%'</if>
		<if test="content != null">AND CONTENT like '%' || #{content} || '%'</if>
	</where>
	ORDER BY POST_ID DESC
	</select>
	
	<insert id="create" parameterType="Post">
		<selectKey keyProperty="id" resultType="int" order="BEFORE" >
		SELECT POST_SEQ.NEXTVAL AS ID FROM DUAL
		</selectKey>
	INSERT INTO POST(POST_ID, WRITER_ID, TITLE, CONTENT, WRITTEN)
	VALUES(#{id}, #{writerId}, #{title}, #{content}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'))
	</insert>
	
	<update id="update" parameterType="Post">
	UPDATE POST 
	<set>
		<if test="title != null">TITLE = #{title}, </if>
		<if test="content != null">CONTENT = #{content}, </if>
		<if test="title != null or content != null">UPDATED = TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')</if>
	</set>
	WHERE POST_ID = #{id}
	</update>
	
	<update id="hit">
	UPDATE POST SET HITS = HITS + 1 WHERE POST_ID = #{id}
	</update>
	
	<delete id="delete">
	DELETE FROM POST WHERE POST_ID = #{id}
	</delete>
</mapper>